.introduction {
  font-family: "Montserrat", sans-serif;
  color: black;
  height: 622px;
}
.intro-content h3 {
  font-size: 2em;
  font-weight: bold;
}
.intro-content h2 {
  font-size: 3em;
  font-weight: bolder;
}
.intro-content h1 {
  font-size: 2em;
  font-weight: bolder;
}
.button-style:hover {
  font-size: 1.2rem;
  border-radius: 10px;
  color: white !important;
  background-color: #ea3a60;
}
